.messages
  .message{"data-message_id": "740"}
    .message__upper-info
      %p.message__upper-info__talker aaaa
      %p.message__upper-info__date 2019/08/27(Tue) 14:23:54
    %p.message__text aaa
  .message{"data-message_id": "745"}
    .message__upper-info
      %p.message__upper-info__talker aaaa
      %p.message__upper-info__date 2019/08/27(Tue) 14:29:58
    %p.message__text kkll